/.cpcache/
/.nrepl-port
/examples/todomvc/.cpcache/
/examples/todomvc/.nrepl-port
/examples/infinite-orange/.cpcache/
/examples/infinite-orange/.nrepl-port
/examples/tictactoe/node_modules
.cpcache
.nrepl-port
/target/
/.lsp/
/.clj-kondo/
.wally/
*.clj-kondo/
*.lsp/
