{:paths ["src" "resources"]
 :deps {org.apache.commons/commons-lang3 {:mvn/version "3.10"}
        org.clojure/core.async {:mvn/version "1.2.603"}
        http-kit {:mvn/version "2.4.0-alpha6"}
        ring/ring-core {:mvn/version "1.8.1"}
        cheshire {:mvn/version "5.1.0"}
        com.taoensso/timbre {:mvn/version "5.1.0"}}
 :aliases
 {:dev {:extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}
                     org.clojars.czan/stateful-check {:mvn/version "0.4.2"}}}
  :test {:extra-paths ["test"]
         :extra-deps {com.cognitect/test-runner
                      {:git/url "https://github.com/cognitect-labs/test-runner.git"
                       :sha "b6b3193fcc42659d7e46ecd1884a228993441182"}}
         :main-opts ["-m" "cognitect.test-runner"]}}}
