{:paths ["src" "resources"]
 :deps {org.apache.commons/commons-lang3 {:mvn/version "3.10"}
        org.clojure/core.async {:mvn/version "1.6.681"}
        http-kit/http-kit {:mvn/version "2.5.1"}
        ring/ring-core {:mvn/version "1.8.1"}
        cheshire/cheshire {:mvn/version "5.1.0"}
        org.clojure/tools.logging {:mvn/version "1.2.4"}}
 :aliases
 {:dev {:extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}
                     org.clojars.czan/stateful-check {:mvn/version "0.4.2"}
                     io.github.pfeodrippe/wally {:mvn/version "0.0.4"}}}
  :test {:extra-paths ["test"]
         :extra-deps {com.cognitect/test-runner
                      {:git/url "https://github.com/cognitect-labs/test-runner.git"
                       :sha "b6b3193fcc42659d7e46ecd1884a228993441182"}
                      com.taoensso/carmine {:mvn/version "3.1.0"}
                      manifold/manifold {:mvn/version "0.1.9-alpha4"}}
         :main-opts ["-m" "cognitect.test-runner"]}

  ;; Profiles for developing integration components and alternate servers
  ;; Add these also to :test profile so they can be tested in CI
  :redis {:extra-deps {com.taoensso/carmine {:mvn/version "3.1.0"}}}
  :manifold {:extra-deps {manifold/manifold {:mvn/version "0.1.9-alpha4"}}}
  :pedestal {:extra-deps {io.pedestal/pedestal.service {:mvn/version "0.6.0"}
                          io.pedestal/pedestal.jetty {:mvn/version "0.6.0"}}}

  ;; Run with clj -T:build function-in-build
  :build {:deps {io.github.clojure/tools.build {:git/tag "v0.9.5" :git/sha "24f2894"}}
          :ns-default build}

  ;; Deploy to clojars
  :deploy {:extra-deps {slipset/deps-deploy {:mvn/version "0.2.1"}}
           :exec-fn deps-deploy.deps-deploy/deploy
           :exec-args {:installer :remote
                       :sign-releases? false
                       :pom-file "target/classes/META-INF/maven/io.github.tatut/ripley/pom.xml"
                       :artifact "target/ripley.jar"}}}}
