{:paths ["src" "../../resources" "resources"]
 :deps {ripley {:local/root "../.."}
        compojure {:mvn/version "1.6.1"}
        http-kit {:mvn/version "2.5.3"}
        com.taoensso/timbre {:mvn/version "5.1.0"}}
 :aliases {:run {:main-opts ["-m" "counter.main"]}}}
