{:paths ["src" "../../resources" "resources"]
 :deps {tatut/ripley {:local/root "../.."}
        compojure/compojure {:mvn/version "1.6.1"}
        org.postgresql/postgresql {:mvn/version "42.2.12"}
        http-kit/http-kit {:mvn/version "2.5.1"}
        com.taoensso/timbre {:mvn/version "5.1.0"}}
 :aliases {:run {:main-opts ["-m" "cart.main"]}}
 }
