{:paths ["src" "resources"]
 :deps {ripley {:local/root "../.."}
        compojure {:mvn/version "1.6.1"}
        http-kit {:mvn/version "2.4.0-alpha6"}}
 :aliases {:run {:main-opts ["-m" "tictactoe.main"]}}}
